{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": ["transform-runtime"]
}

//stage-0 - Strawman: just an idea, possible Babel plugin.
//stage-1 - Proposal: this is worth working on.
//stage-2 - Draft: initial spec.
//stage-3 - Candidate: complete spec and initial browser implementations.
//stage-4 - Finished: will be added to the next yearly release.
