// classes inside :global are not converted into [name]__[local]___[hash:base64:5] by css-loader
:global {
  .bold-green-text {
    color: #38bf6f;
    font-weight: bold;
    font-style: italic;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.container {
  input {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}
